@import url(header.css);
@import url(loader.css);

:root {
  --bg-color: #f7f7f7;
  --primary-color: #3f3f44;
  --secondary-color: #fdcb9e;
  --tertiary-color: #cceabb;
  font-size: 18px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: "Open Sans";
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 1rem;
  border: 0.2rem solid var(--bg-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background-color: var(--secondary-color);
}

/* General styling */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

/* 

THERE USED TO BE SEPARATE VERTICAL AND HORIZONTAL
STYLES.

*/

.dotted-line {
  border-width: 0;
  border-style: dotted;
  border-color: var(--primary-color);

  --border-width: 0.4rem;
}

h1,
h2,
h3,
b {
  font-family: "outfit";
  font-weight: bold;
}

h1 {
  width: fit-content;
  padding: 0 2rem;
  margin: 0 auto;
  background-color: var(--bg-color);
}

h2 {
  font-size: 1.2rem;
}

p {
  font-family: "Open Sans";
}

/* ------------------- */
/* Container structure */
/* ------------------- */

.container {
  margin: 0 auto;
  width: min(1250px, 100vw);
  padding: 0 1rem;
}

.container > section {
  height: 100vh;
  width: 100%;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  grid-template-rows: 1fr;
  grid-template-areas: "L M R";
}

.left {
  grid-area: L;
}

.middle {
  grid-area: M;
}

.divider {
  height: var(--divider-height, 100vh);
  width: 0;
  --divider-margin: 2rem;
}

.right {
  grid-area: R;
}

.content-column {
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  min-height: 30%;
}

.header {
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background-color: var(--primary-color);

  width: 100%;
  height: 5px;

  z-index: -1;
}

.content {
  flex-direction: column;
  gap: 1.5rem;
}

.content p:not(:first-child) {
  margin-top: 0.7rem;
}
