@import url("queries/home.css");

/* ------- */
/* Landing */
/* ------- */
.landing {
  grid-template-columns: 1fr min-content 1fr;
}

.my-img {
  display: block;
  margin: 0 0 0 auto;
  object-fit: cover;
  height: 20rem;
}

.landing > .middle > .divider {
  --divider-height: 22rem;

  flex-direction: column;
  justify-content: center;

  margin: 0 var(--divider-margin);
}

.dotted-line {
  border-left-width: var(--border-width);
}

.greeting {
  margin-bottom: 1rem;
  font-family: "outfit";
  font-weight: normal;
  font-size: 1.9rem;
}

.my-name {
  font-size: 2.8rem;
  line-height: 70%;
  font-weight: bold;
}

.intro-desc {
  width: min(30rem, 90%);
}
