:root {
  --bg-color: rgb(24, 24, 24);
  --primary: lightgray;
  --secondary: rgb(1, 158, 113);
  --highlight: white;

  --black: rgb(24, 24, 24);
  --white: rgb(236, 236, 236);
  --red: rgb(209, 5, 59);
  --green: rgb(1, 158, 113);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-color: var(--bg-color);
}

/* ----- */
/* Navigation */
/* ----- */

/* TODO - Differences between selected and non selected nav elements */
/* TODO - When hovering over another circle the line gets coloured in from the currently active circle to the one being hovered over */
/* TODO - Mask out nav-circles from nav-line */

.side-navigation {
  position: fixed;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
}

.nav-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0;
}

.nav-element:hover .nav-circle,
.nav-element:hover .nav-text {
  border-color: var(--highlight);
  color: var(--highlight);
  transition-duration: 0.2s;
}

.nav-circle {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.4rem solid var(--primary);
  border-radius: 50%;
}

.nav-text {
  margin-left: 0.6rem;
  color: var(--primary);
  letter-spacing: 0.2rem;
  font-weight: 800;
  /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); */
}

.nav-line {
  position: absolute;
  top: 50%;
  height: 90%;
  border-radius: 1rem;
  width: 0.5rem;
  background-color: var(--primary);
  left: 0.75rem;
  transform: translate(-50%, -50%);
  z-index: -1;
  /* background-image: linear-gradient(
    180deg,
    transparent,
    lightgray,
    transparent
  ); */
}

/* ----- */
/* Content */
/* ----- */

.content {
  /* This is a general template for each content container */
  height: 100vh;
  width: 100vw;
}

#navIntroduction .nav-circle {
  background-color: rgb(24, 24, 24);
}

#navProjects .nav-circle {
  background-color: rgb(236, 236, 236);
}

#navSkills .nav-circle {
  background-color: rgb(209, 5, 59);
}

#navContact .nav-circle {
  background-color: rgb(1, 158, 113);
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number {
  opacity: 0.01;
  position: absolute;
  color: var(--primary);
  font-size: 80rem;
  font-weight: 800;
  transform: rotate(3deg);
  pointer-events: none;
  z-index: 0;
}

/* Contact form*/

.contact-form {
  z-index: 1;
}

.form-head {
  font-size: 2rem;
}

.form-head,
.form-input,
.form-submit {
  color: var(--primary);
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.form-input,
.form-submit {
  border: 2px solid var(--primary);
  border-radius: 2px;
}

.form-input {
  width: 100%;
  background-color: var(--bg-color);
  padding: 10px;
  margin-bottom: 1.5rem;
}

/* TODO - Find out why the height of the indicator is different on inputs (the indicator on "Subject" form-input is ~1px higher) */
.focus-indicator {
  position: relative;
  height: 0.4rem;
  width: 100%;
  bottom: 1.9rem;
  border-radius: 2px;
}

.form-input:focus + .focus-indicator {
  background: linear-gradient(to right, var(--primary) 50%, transparent 50%);
  background-size: 200% 200%;
  animation: in-focus 0.5s ease forwards;
}

.form-input:focus {
  outline: none;
  /* background: linear-gradient(
    to right,
    var(--primary) 50%,
    var(--bg-color) 50%
  );
  background-size: 200% 200%;
  animation: in-focus 0.5s ease forwards; */
}

.form-input::placeholder,
.form-input,
.form-submit {
  font-weight: 800;
}

.form-submit {
  color: var(--bg-color);
}

textarea {
  height: 10rem;
  resize: vertical;
}

.form-submit {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 50px;
  background-color: var(--primary);
  cursor: pointer;
  transition-duration: 0.2s;
}

.form-submit:hover {
  background-color: var(--highlight);
  border-color: var(--highlight);
}

.form-submit:focus {
  opacity: 0.5;
}

/* ----- */
/* Animations */
/* ----- */

@keyframes in-focus {
  from {
    background-position: right;
  }
  to {
    background-position: left;
  }
}
