:root {
  --bg-color: #f7f7f7;
  --primary-color: #3f3f44;
  --secondary-color: #fdcb9e;
  --tertiary-color: #cceabb;
  font-size: 18px;
}

/* html {
  scroll-behavior: smooth;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: "Open Sans";
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background-color: var(--secondary-color);
}

/* ------ */
/* Navbar */
/* ------ */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-image: linear-gradient(
    180deg,
    rgba(63, 63, 68, 0.03) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  z-index: 50;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 300%;
  width: 100%;
  background-image: linear-gradient(to bottom, var(--bg-color), transparent);
  opacity: 1;
  z-index: -1;
}

.navbar {
  margin: 0 auto;
  width: min(1200px, 90%);
  height: 3rem;
}

.nav-content {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar a {
  font-family: "Outfit";
  text-decoration: none;
  color: var(--primary-color);
}

.nav-home > a {
  font-weight: bold;
}

.nav-links {
  justify-content: row;
  gap: 1.2rem;
  list-style: none;
}

.nav-link > a {
  outline: none;
  font-weight: normal;
  transition: text-shadow 0.2s;
  text-shadow: 0 0px var(--secondary-color), 0 0px var(--tertiary-color);
}

.nav-link > a:hover,
.nav-link > a:focus {
  text-shadow: 0 6px var(--secondary-color);
}

.current > a {
  text-shadow: 0 6px var(--secondary-color), 0 12px var(--tertiary-color);
}

/* ------------------- */
/* Container structure */
/* ------------------- */

.loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color);

  z-index: 100;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  transition: opacity, visibility;
  transition-duration: 0.5s;
}

.loader > .dots {
  gap: 0.7rem;

  transition: opacity 0.5s;
}

.loader-dot {
  opacity: 0;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--primary-color);

  animation: fade-in forwards, wave ease-in-out alternate infinite;
  animation-duration: 0.7s;
  animation-delay: calc(0.25s * var(--i));
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes wave {
  100% {
    transform: translateY(-100%);
  }
}

.loader.hidden {
  transition-delay: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.loader.hidden > .dots {
  opacity: 0;
}

.container {
  margin: 0 auto;
  width: min(1250px, 100vw);
  padding: 0 1rem;
}

.container > section {
  height: 100vh;
  width: 100%;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  grid-template-rows: 1fr;
  grid-template-areas: "L M R";
}

.left {
  grid-area: L;

  /* border: 1px dashed red; */
}

.middle {
  grid-area: M;

  /* border: 1px dashed green; */
}

.right {
  grid-area: R;

  /* border: 1px dashed blue; */
}

.content-column {
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  min-height: 30%;
}

.header {
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background-color: var(--primary-color);

  width: 100%;
  height: 5px;

  z-index: -1;
}

.content {
  flex-direction: column;
  gap: 1.5rem;
}

.content p:not(:first-child) {
  margin-top: 0.7rem;
}

/* Other general classes */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

h1,
h2,
h3,
b {
  font-family: "outfit";
}

h1 {
  /* For Section headings like "About me" and "My Work" */
  font-weight: bold;

  width: fit-content;
  padding: 0 2rem;
  margin: 0 auto;
  background-color: var(--bg-color);
}

h2 {
  /* Project names + nav-home */
  font-weight: normal;
  font-weight: bold;
  font-size: 1.2rem;
}

h3 {
  /* Module names */
  font-weight: bold;
}

p {
  font-family: "Open Sans";
}

/* ------- */
/* Landing */
/* ------- */
.landing {
  grid-template-columns: 1fr min-content 1fr;
}

.my-img {
  display: block;
  margin: 0 0 0 auto;
  object-fit: cover;
  height: 20rem;
}

.divider {
  height: var(--divider-height, 100vh);
  margin: 0 var(--divider-margin, 2rem);
  width: 0;
}

.v-dotted-line,
.h-dotted-line {
  border-width: 0;
  border-style: dotted;
  border-color: var(--primary-color);
}

.v-dotted-line {
  border-left-width: 0.4rem;
}

.h-dotted-line {
  border-bottom-width: 0.4rem;
}

.landing > .middle > .divider {
  --divider-height: 22rem;

  flex-direction: column;
  justify-content: center;
}

.greeting {
  margin-bottom: 1rem;
  font-family: "outfit";
  font-weight: normal;
  font-size: 1.9rem;
}

.my-name {
  font-size: 2.8rem;
  line-height: 70%;
  font-weight: bold;
}

.intro-desc {
  width: min(30rem, 90%);
}

/* ----- */
/* About */
/* ----- */
.about {
  grid-template-columns: 1fr min-content 1fr;
}

.about > .right {
  flex-direction: column;
  gap: 0.4rem;
}

.about > .middle > .divider {
  --divider-height: 40rem;
  --divider-margin: 4rem;
}

.programming-language {
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}

.programming-language > .language {
  width: fit-content;
}

.programming-language > .proficiency {
  display: inline-block;
  width: min(20rem, 100%);
  height: 0.4rem;
  background-image: linear-gradient(
    to right,
    var(--secondary-color) var(--amount),
    var(--primary-color) var(--amount)
  );
  border-radius: 1rem;
}

.c-sharp {
  --amount: 50%;
}

.php {
  --amount: 40%;
}

.python {
  --amount: 60%;
}

.typescript {
  --amount: 65%;
}

.javascript {
  --amount: 70%;
}

.html-css {
  --amount: 85%;
}

.contact {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.contact::after {
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translateX(-50%);
}

.about .contact::after {
  content: url("../imgs/other/green_scribble.svg");
}

/* ---- */
/* Work */
/* ---- */
.work {
  grid-template-columns: 3fr min-content 6fr;
}

.project-heading > .sub {
  font-size: 1rem;
  font-family: "Outfit";
  font-weight: light;
}

.project-links {
  gap: 0.5rem;
}

.project-link {
  border: 0.2rem solid var(--primary-color);

  position: relative;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: var(--bg-color);

  align-items: center;
  box-shadow: 0px 0px 0 var(--secondary-color), 0px 0px 0 var(--secondary-color);
  outline: none;
}

.project-link:hover,
.project-link:focus {
  transform: translate(5px, -5px);
  box-shadow: -2.5px 2.5px 0 var(--secondary-color),
    -5px 5px 0 var(--secondary-color);
}

.project-link:hover::before {
  transform: translate(-10%, 10%);
}

.project-link > img {
  height: calc(32px + 0.2rem);
  width: auto;
  padding: 0.2rem 2rem;
  z-index: 5;
  background-color: var(--bg-color);
}

.work-snapshot {
  width: 100%;
  position: relative;

  object-fit: cover;
  border-radius: 1rem;
}

/* --------- */
/* Education */
/* --------- */
.education {
  grid-template-columns: 1fr min-content 1fr;
}

.year {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 50%;
  display: inline-block;
}

.year.passed {
  text-shadow: 5px 0 0 var(--secondary-color);
}

.events {
  transform: translateX(55%) rotate(var(--timeline-angle));
  flex-direction: column;
  gap: 5rem;
  list-style: none;
}

.event {
  text-align: right;
}

.timeline {
  height: 100vh;
}

.modules {
  flex-direction: column;
  gap: 1.3rem;
  list-style: none;
}

.module {
  padding-left: 0.5rem;
}

.clickable {
  cursor: pointer;
}

.arrow {
  display: inline-block;
  margin: 0 0.2rem;
  border: 0 solid var(--primary-color);
  border-width: 0 2px 2px 0;
  width: 0.5rem;
  height: 0.5rem;

  position: relative;
  transform: translateY(-25%) rotate(45deg);
  transition: transform 0.15s ease-out;
}

.module > .desc {
  display: none;
  padding: 0.5rem 0;
  overflow: hidden;
  height: 0%;
}

.expanded > .desc {
  display: inline-block;
}

.expanded .arrow {
  transform: rotate(-135deg);
}

/* ---------- */
/* Internship */
/* ---------- */
.internship {
  grid-template-columns: 1fr 2fr 1fr;
}

.internship .contact::after {
  content: url("../imgs/other/yellow_scribble.svg");
}
