/*
    VARIABLES
*/
:root {
  --bg: rgb(23, 23, 23);
  --secondary: rgb(40, 40, 40);
  --text: rgb(230, 230, 230);
  --highlight: rgb(1, 158, 113);
}

/*
    GLOBALS
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
}

body {
  background-color: var(--bg);
}

/*
    HEADER / NAVIGATION
*/

header {
  width: 100vw;
  background-color: var(--secondary);
  padding: 10px 0;
}

.nav-list,
.title {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.title {
}

.nav-list {
  list-style: none;
}

/*
    CONTENT
*/

.container {
  width: 1000px;
  margin: 1rem auto 0 auto;
}

p {
  margin-bottom: 0.7rem;
}

/*
    ORDER FORM
*/

fieldset {
  width: 500px;
  padding: 30px 40px;
  border-color: var(--text);
  border-width: 2px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

legend {
  padding: 0 10px;
  text-align: center;
  border: 1px solid var(--text);
  border-width: 0 1px 0 1px;
}

.margin {
  margin-bottom: 0.5rem;
}

input[type="text"],
textarea,
select,
button {
  padding: 10px 17px;
  background-color: transparent;
  border: 1px dashed var(--text);
}

textarea {
  resize: vertical;
}

button {
  width: fit-content;
  margin: 20px auto 0 auto;
  transition-duration: 0.2s;
  font-weight: bold;
  border-width: 2px;
}

button:hover {
  cursor: pointer;
  background-color: var(--text);
  color: var(--bg);
}
